# FastAPI core
fastapi
uvicorn
python-multipart

# DB
sqlalchemy
pymysql
python-dotenv

# AI / ML
torch
torchvision
ultralytics
numpy
opencv-python

# OCR
paddlepaddle
paddleocr

# Validation
pydantic
